/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-main: 'Inter Variable';
  --font-accent: 'PressStart2P';
  --weight-main: 400;
  --weight-title: 700;
  --container-width: clamp(375px, 100%, 700px);
  --header-logo-size: clamp(49px, 20vw, 65px);
  --header-title-size: clamp(14px, 2.5vw, 23px);
  --header-padding-block: clamp(50px, 130px, 130px);
  --text-size: 18px;
  --text-color: #ffffff; /* Белый цвет текста */
  --bg-color: #ffffff;   /* Белый цвет фона кнопки */
  --hover-bg: #000000;
  --like-color: #000000;
  --animation-fill-color: red;
  --core-color: transparent;
  --contour-color: black;
  --mb-color: transparent;
  --sparks-color: red;

  --core-delay: 0,03s;
  --mb-delay: 0s;
  --contour-delay: 0s;
  --contour-duration: 0,1s;

  --opacity: 0;
  --background-gradient: 
    repeating-linear-gradient(
      to right,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}